Package: worklist
Version: 0.2-0~precise1
Installed-Size: 2756
Section: utils
Priority: extra
Maintainer: asian <mr.asianwang@gmail.com>
Homepage: https://github.com/hualet/worklist
Architecture: i386
Depends: python-apt, python
Description: WorkList 
 WorkList is an app that can help you scheduling your daily works and to-dos,
 helpful but very easy to use.
